* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff;
}
.button{
    position: relative;
    padding: 10px 22px;
    background: #F26250;
    border-radius: 6px;
    color: #fff;
    border:none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0, 0,0.1);
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal__container{
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    margin:auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal__title{
    font-size: 2.5rem;
}
.modal__paragraph{
    margin-bottom: 10px;
}
.modal__img{
    width: 90%;
    max-width: 300px;
}
.modal__close{
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: bacground-color .3s;
}
.modal__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}